{% extends 'base_generic.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="col">
    <div class="row pt-4">
        <div class="game-frame">        
            <div class="card text-end border-0 guest-player-info">
                <h4 class="player-info" id="guest-info" style="direction: rtl;">
                    <span class="px-2" id="guest-score">0</span>
                    {{ match.guest.get_display_name }}
                </h4>
            </div>
            <img src="{{ match.guest.get_profile_picture }}"
                class="img-fluid avatar-l rounded-circle guest-player-picture" alt="">
            <div class="card h-100 border-0" style="z-index: -1;">
                <div class="card-body p-3 h-100">
                    <div class="card h-100 border-0" id="threejs-container">
                    </div>

                    <!-- Waiting screen -->
                    <span class="m-0 p-0 winner" id="waiting-screen" style="display: block;">
                        <div class="card text-center waiting-screen border-0">
                            <h4 class="winner-info text-middle">
                                {% translate 'Waiting for players' %}
                            </h4>
                        </div>
                    </span>
                    <!-- end of Waiting screen -->

                    <!-- Home winner -->
                    <span class="m-0 p-0 winner" id="home" style="display: none;">
                        <img src="{{ match.home.get_profile_picture }}"
                            class="img-fluid avatar-xl rounded-circle winner-picture" alt="">
                        <div class="card text-center winner-player-info border-0">
                            <h4 class="winner-info text-middle">
                                {{ match.home.get_display_name }}
                            </h4>
                        </div>
                        <div class="text-center winner-title">
                            <h4 class="winner-info text-middle winner-text">
                                {% translate 'WINNER' %}
                            </h4>
                        </div>
                    </span>
                    <!-- end of Home winner -->

                    <!-- Guest winner -->
                    <span class="m-0 p-0 winner" id="guest" style="display: none;">
                        <img src="{{ match.guest.get_profile_picture }}"
                            class="img-fluid avatar-xl rounded-circle winner-picture" alt="">
                        <div class="card text-center winner-player-info border-0">
                            <h4 class="winner-info text-middle">
                                {{ match.guest.get_display_name }}
                            </h4>
                        </div>
                        <div class="text-center winner-title">
                            <h4 class="winner-info text-middle winner-text">
                                {% translate 'WINNER' %}
                            </h4>
                        </div>
                    </span>
                    <!-- end of Guest winner -->

                </div>
            </div>
            <img src="{{ match.home.get_profile_picture }}"
                class="img-fluid avatar-l rounded-circle home-player-picture" alt="">
            <div class="card text-start border-0 home-player-info">
                <h4 class="player-info" id="home-info">
                    <span class="px-2" id="home-score">0</span>
                    {{ match.home.get_display_name }}
                </h4>
            </div>
        </div>
    </div>

    <div class="row how-to-play py-4">
        <div class="card p-0">
            <h4 class="card-header bg-white d-flex justify-content-between align-items-center">
                <div class="p-2">{% translate 'How to play' %}</div>
            </h4> 
            <div class="card-body">
                <p>{% translate 'This game is a ping pong-style game that has two paddles and one ball.' %}
                    {% translate 'The goal of this game is to defeat your opponent by being the first to score 5 points.' %}
                    {% translate 'You earn a point when your opponent misses the ball.' %}</p>
                <p>{% translate 'Use the keyboard to control the paddle and hit the ball.' %}
                    {% translate 'If you are playing on the left side of the screen, press “W” to move the paddle up and “S” to move it down.' %}
                    {% translate 'If you are playing on the right side, press “O” to move the paddle up and “L” to move it down.' %}</p>
            </div>
        </div>
    </div>

</div>

<game group="ws/game/{{ match.id }}" type="{{ match.game }}" mode="{{ mode }}" />

{% endblock %}