{% extends "base_generic.html" %}

{% block content %}

<div class="col">
    <div class="row p-4">
        <div class="col col-12" id="user-view-info">
            {% include "backend/components/user_info.html" %}
        </div>
    </div>
    <div class="row px-4">
        <div class="col col-12 col-lg-6 pb-4" id="user-view-friends">
            {% include "backend/components/friends/friends.html" %}
        </div>
        <div class="col col-12 col-lg-6 pb-4">
            {% include "backend/components/last_games.html" %}
        </div>
    </div>
</div>
{% include "backend/components/chat/chat_modal.html" %}
{% include "backend/components/profile_modal.html" %}
{% include "backend/components/local_modal.html" %}
{% include "backend/components/play_modal.html" %}
{% endblock %}