{% extends 'base_generic.html' %}
{% load static %}
{% block content %}

<div class="col mb-4">
    <div class="row p-4">
        <div class="col-2"></div>
        <div class="col col-8">
            <div class="card">
                <div class="card-body p-2">
                    <table>
                        <tr>
                            <td>Guest pad</td>
                            <td><input type="text" id="guest-pad"></td>
                        </tr>
                        <tr>
                            <td>Home pad</td>
                            <td><input type="text" id="home-pad"></td>
                        </tr>
                        <tr>
                            <td>Ball x</td>
                            <td><input type="text" id="ball-x"></td>
                        </tr>
                        <tr>
                            <td>Ball y</td>
                            <td><input type="text" id="ball-y"></td>
                        </tr>
                        <tr>
                            <td>Last hit</td>
                            <td><input type="text" id="last-hit"></td>
                        </tr>
                        <tr>
                            <td>Slope</td>
                            <td><input type="text" id="slope"></td>
                        </tr>
                        <tr>
                            <td>Ball movement</td>
                            <td><input type="text" id="ball-movement"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<script type="module" src="{% static 'backend/pong/main.js' %}"></script>
{% endblock %}