{% extends 'base_generic.html' %}
{% load static %}
{% block content %}

<div class="col mb-4">
    <div class="row p-4">
        <div class="col-2"></div>
        <div class="col col-8">
            <div class="card">
                <div class="card-body p-2">
                    <div id="threejs-container" style="height: 70vh;"></div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<script type="importmap">
    {
      "imports": {
        "three": "/static/threejs/three.module.js",
        "three/addons/": "/static/threejs/examples/jsm/"
      }
    }
</script>

<script type="module" src="{% static 'backend/pirates/main.js' %}"></script>
{% endblock %}