{% extends "base_generic.html" %}

{% block content %}
<div class="col">
    <div class="row p-4">
        <div class="col col-12">
            {% include "backend/components/tournament/header.html" %}
        </div>
    </div>
    {% if tournament.is_created %}
    <div class="row p-4">
        <div class="col col-12">
            {% include "backend/components/tournament/competitors.html" %}
        </div>
    </div>
    {% endif %}
    {% if tournament.is_started %}
    <div class="row p-4">
        <div class="col col-12">
            {% include "backend/components/tournament/competitors.html" %}
        </div>
    </div>
    {% endif %}
    {% if tournament.is_finished %}
    <div class="row p-4">
        <div class="col col-12">
            {% include "backend/components/tournament/competitors.html" %}
        </div>
    </div>
    {% endif %}


</div>
{% endblock %}