<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ft_transcendence</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
  </head>
  <body>
      <div class="container">
          <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
              <div class="col-md-3 mb-2 mb-md-0">
                  <img src="{% static 'polls/images/8522275.png' %}" alt="Icono" class="img-fluid" style="max-height: 40px;">
                </div>
                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
                    <li><a href="#" class="nav-link px-2">Features</a></li>
                    <li><a href="#" class="nav-link px-2">Pricing</a></li>
                    <li><a href="#" class="nav-link px-2">FAQs</a></li>
                    <li><a href="#" class="nav-link px-2">About</a></li>
                </ul>
                <div class="col-md-3 d-flex justify-content-end">
                    <button type="button" class="btn btn-dark me-2 login route" id="signin-btn" data-path="/login">Sign in</button>
                    <button type="button" class="btn btn-primary route" id="signup-btn" data-path="/signup">Sign up</button>
                    <div id="col-end">
                        <div class="row">
                            <div class="col">
                                <div class="dropdown">
                                    <button id="dropdownMenu" type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false">name</button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                        <li><a class="dropdown-item" href="#" id="viewProfile">View profile</a></li>
                                        <li><a class="dropdown-item" href="#" id="editProfile">Edit profile</a></li>
                                        <li><a class="dropdown-item" href="#">Log out</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col">
                              <img src="{% static 'polls/images/icon.png' %}" class="img-fluid" style="max-height: 45px; margin-top: -3px;">
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div id="spa" class="center-wrapper">
            <!--{% if latest_question_list %}
                <ul>
                {% for question in latest_question_list %}
                    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No polls are available.</p>
            {% endif %}-->
        </div>
        <script type="module" src="{% static 'polls/spa.js' %}"></script>
    </body>
</html>
