html, body {
  font-family: "Lexend", sans-serif;
}

.iconMsg{
  position: relative;
}

.iconMsg span{
  position: absolute;
  top: -10px;
  right: -10px;
  display: block;
}
.avatar-sm {
  max-width: 2em;
}

.card-height-sm {
  height: 350px;
}

.flex-reverse {
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.mt-neg {
  margin-top: -0.25rem !important;
}

#backgroundImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  image-orientation: from-image;
  background-image: url('/static/backend/images/background.webp');
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  z-index: -1;
}
