html, body {
  font-family: "Lexend", sans-serif;
}

.card-height-sm {
  height: 350px;
}

.flex-reverse {
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.mt-neg {
  margin-top: -0.25rem !important;
}

#backgroundImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  image-orientation: from-image;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  z-index: -1;
}

.col-centered {
  display:inline-block;
  float:none;
  text-align:left;
  margin-right:-4px;
}

.game-frame {
  aspect-ratio: 1.8;
  padding-top:16px;
  padding-bottom:70px;
  padding-left:50px;
  padding-right:50px;
}

.player-info {
  padding: 10px;
  display: flex;
  white-space: nowrap;
}

.winner-info {
  padding: 10px;
  white-space: nowrap;
}

.winner-player-info {
  height: 50px;
  z-index: 0;
  margin-top: -10px;
  margin-bottom: -40px;
  border-radius: 15px;
  width: 60%;
  position: relative;
  top: -120px;
  left: -30%;
}

.winner-title {
  height: 50px;
  z-index: 0;
  margin-top: -10px;
  margin-bottom: -40px;
  border-radius: 15px;
  width: 60%;
  position: relative;
  top: -350px;
  left: -30%;
}

.winner-text {
  font-size:50px;
  color: white;
}

.winner {
  position: relative;
  top:-50%;
  left: 50%;
  width: 50%;
}

.winner-picture {
  max-width: 200px;
  position: relative;
  top: -100px;
  left: -100px;
}

.guest-player-info {
  position: relative;
  height: 50px;
  width: 35%;
  z-index: 0;
  margin-top: -10px;
  margin-bottom: -40px;
  border-radius: 15px;
}

.guest-player-picture {
  position: relative;
  width: 100px;
  margin-top: -30px;
  margin-bottom: -70px;
  z-index:1;
  margin-left: -50px;
}

.home-player-info {
  position: relative;
  height: 50px;
  width: 35%;
  z-index: 0;
  margin-top: -40px;
  margin-bottom: -10px;
  left: 65%;
  border-radius: 15px;
}

.home-player-picture {
  position: relative;
  width: 100px;
  margin-top: -70px;
  margin-bottom: -30px;
  z-index:2;
  margin-left: -50px;
  left: 100%;
}

.how-to-play {
  padding-left:50px;
  padding-right:50px;
}

.disappointed {
  background-image: url('/static/backend/images/disappointed.png');
  background-size: 250px;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.waiting-screen {
  height: 50px;
  z-index: 0;
  margin-top: -10px;
  margin-bottom: -40px;
  border-radius: 15px;
  width: 60%;
  position: relative;
  top: -25px;
  left: -30%;
}

.chat-msg-text {
  word-break: break-all;
}

.avatar-sm {
  aspect-ratio: 1/1;
  width: 2em;
  object-fit: cover;
}

.avatar-l {
  aspect-ratio: 1/1;
  width: 100px;
  object-fit: cover;
}

.avatar-xl {
  aspect-ratio: 1/1;
  width: 200px;
  object-fit: cover;
}

.avatar-xxl {
  aspect-ratio: 1/1;
  width: 16em;
  object-fit: cover;
}

.player-turn {
  font-size: 40px;
  margin-top: -10px;
}

.custom-icon-button {
  width: 25px;
  height: 25px;
  margin-top: -7px;
  stroke:#0d6efd;
  fill:#0d6efd;
}

.custom-icon-list {
  width: 25px;
  height: 25px;
  stroke:#000000;
  fill:#000000;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}
