html, body {
  font-family: "Lexend", sans-serif;
}

.iconMsg{
  position: relative;
}

.iconMsg span{
  position: absolute;
  top: -10px;
  right: -10px;
  display: block;
}
.avatar-sm {
  max-width: 2em;
}

.card-height-sm {
  height: 350px;
}

.flex-reverse {
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.mt-neg {
  margin-top: -0.25rem !important;
}