{% extends "base_generic.html" %}
{% load i18n %}

{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
  <div class="row justify-content-evenly mt-5">


    <div class="col-4"></div>
    <div class="col-12 col-lg-4">
      <form method="post" action="{% url 'login' %}">
          {% csrf_token %}

          <div class="row mb-3">
          <div class="text-white col-sm-4 col-form-label">{{ form.username.label_tag }}</div>
          <div class="col-sm-8">
            <input type="text" class="w-100" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
          </div>
          </div>

          <div class="row mb-3">
          <div class="text-white col-sm-4 col-form-label">{{ form.password.label_tag }}</div>
          <div class="col-sm-8">
            <input type="password" class="w-100" name="password" autocomplete="current-password" required="" id="id_password">
          </div>
          </div>
          <input type="hidden" name="next" value="{% url 'backend:index' %}">
          <div class="d-flex justify-content-center">
            <button spa class="btn btn-primary mt-3 w-75" type="submit" value="login">{% translate 'Login' %}</button>
          </div>

      </form>
  </div>
  <div class="col-4"></div>
  </div>
  


{% endblock %}