{% extends "base_generic.html" %}
{% load i18n %}

{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
  <div class="row justify-content-evenly mt-5">
    <div class="col-4">
          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table>
              <tr>
                <td class="text-white">{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
              </tr>
              <tr>
                <td class="text-white">{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
              </tr>
            </table>
            <input type="hidden" name="next" value="{% url 'backend:index' %}">
            <button spa class="btn bg-primary" type="submit" value="login">{% translate 'login' %}</button>
          </form>
    </div>
  </div>

  {# Assumes you set up the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}