{% load i18n %}
{% load static %}

{% for message in messages %}
<li class="d-flex justify-content-between mb-2">
    {% if message.sender.username == request.user.username %}
    <div class="m-4"></div>
    <div class="d-flex">
        <div class="card">
            <div class="card-body">
                <small class="my-0">
                    {{ message.sender.username }}  {{ message.date }}
                </small>
                {% if message.match %}
                <p class="my-0">
                {{ message.sender.username }} {% translate 'sent an invitation to play' %}
                </p>
                    {% if message.match.is_waiting %}
                    <a spa hide href="{% url 'backend:game' message.match.id %}">{% translate 'Play' %} {{ message.match.get_game_display }}</a>
                    <form spa target=".chat-messages" action="{% url 'backend:remove_match' %}" method="POST">
                        {% csrf_token %}
                        <input name="match_id" type="hidden" value="{{ message.match.id }}" />
                        <input name="user_id" type="hidden" value="{{ user.id }}" />
                        <button type="submit" spa class="btn btn-link m-0 p-0"><span class="badge rounded-pill bg-danger">{% translate 'Cancel' %}</span></button>
                    </form>
                    {% elif message.match.is_started %}
                    <span class="badge rounded-pill bg-primary">{% translate 'playing' %}</span>
                    {% else %}
                        {% if request.user == message.match.winner.user %}
                        {% translate 'You won the match' %}
                        {% else %}
                        {% translate 'You lost the match' %}
                        {% endif %}
                    <span class="badge rounded-pill bg-primary">{{ message.match.home_score }} - {{ message.match.guest_score }}</span>
                    {% endif %}
                {% else %}
                <p class="my-0">
                {{ message.message }}
                </p>
                {% endif %}
            </div>
        </div>
        <div class="m-2">
            {% if message.sender.picture %}
            <img src="{{ message.sender.picture.url }}" class="avatar-sm rounded-circle" alt="">
            {% else %}
            <img src="{% static 'backend/images/profile.png' %}" class="avatar-sm rounded-circle" alt="">
            {% endif %}
        </div>
    </div>
    {% else %}
    <div class="d-flex">
        <div class="m-2">
            {% if message.sender.picture %}
            <img src="{{ message.sender.picture.url }}" class="avatar-sm rounded-circle" alt="">
            {% else %}
            <img src="{% static 'backend/images/profile.png' %}" class="avatar-sm rounded-circle" alt="">
            {% endif %}
        </div>
        <div class="card">
            <div class="card-body">
                <small class="my-0">
                    {{ message.sender.username }}  {{ message.date }}
                </small>
                {% if message.match %}
                <p class="my-0">
                    {{ message.sender.username }} {% translate 'sent an invitation to play' %}
                    </p>
                        {% if message.match.is_waiting %}
                        <a spa hide href="{% url 'backend:game' message.match.id %}">{% translate 'Play' %} {{ message.match.get_game_display }}</a>
                        <form spa target=".chat-messages" action="{% url 'backend:remove_match' %}" method="POST">
                            {% csrf_token %}
                            <input name="match_id" type="hidden" value="{{ message.match.id }}" />
                            <input name="user_id" type="hidden" value="{{ user.id }}" />
                            <button type="submit" spa class="btn btn-link m-0 p-0"><span class="badge rounded-pill bg-danger">{% translate 'Cancel' %}</span></button>
                        </form>
                        {% elif message.match.is_started %}
                        <span class="badge rounded-pill bg-primary">{% translate 'playing' %}</span>
                        {% else %}
                            {% if request.user == message.match.winner.user %}
                            {% translate 'You won the match' %}
                            {% else %}
                            {% translate 'You lost the match' %}
                            {% endif %}
                        <span class="badge rounded-pill bg-primary">{{ message.match.home_score }} - {{ message.match.guest_score }}</span>
                        {% endif %}
                {% else %}
                <p class="my-0">
                {{ message.message }}
                </p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="m-4"></div>
    {% endif %}
</li>
{% endfor %}

<li class="d-flex justify-content-center mb-2">
{% if online_status %}
    <p class="my-0" style="color:green">
        {% translate 'Online' %}
        {% if user in request.user.blocked_users.all %}
        {% translate 'This user is blocked' %}
        {% endif %}
    </p>
{% else %}
    <p class="my-0" style="color:red">
        {% translate 'Offline' %}
        {% if user in request.user.blocked_users.all %}
        {% translate 'This user is blocked' %}
        {% endif %}
    </p>
{% endif %}
</li>