{% load i18n %}

<div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">{% translate 'Chat with' %} {{ user.username }}</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body col">
    <div class="container">
        <div class="row">
            <div class="col table-responsive flex-reverse" style="height: 50vh;">
                <ul chat class="list-group chat-messages" id="chat-messages">
                    {% include 'backend/components/chat/chat_messages.html' %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal-body col-12 pb-0">
    <form spa target=".chat-messages" id="chat-refresh" class="form px-1 d-flex justify-content-between align-items-center"
        action="{% url 'backend:list_messages' %}" method="POST">
        {% csrf_token %}
        <input name="username" type="hidden" value="{{ user.username }}" />
    </form>
    <form spa target=".chat-messages" class="form px-1 d-flex justify-content-between align-items-center"
        action="{% url 'backend:send_message' %}" method="POST" reset>
        {% csrf_token %}
        <input name="username" type="hidden" value="{{ user.username }}" />
        <div class="input-group mb-3">
            <input chat type="text" id="message-input-id" name="message" class="form-control" placeholder="{% translate 'message' %}"
                aria-label="{% translate 'message' %}" aria-describedby="button-addon2">
            <button type="submit" class="btn btn-primary" type="button" id="button-addon2">
                {% translate 'Send' %}
            </button>
        </div>
    </form>
</div>
<div class="modal-body col-12 mb-2">
    <div class="d-flex justify-content-center">
        <a spa hide class="fs-3 bi bi-person-fill text-primary" href="{% url 'backend:user' user.username %}" data-bs-toggle="tooltip"
            data-bs-title="{% translate 'View profile of' %} {{ user.username }}"></a>
        <i class="fs-3 bi bi-controller ms-5 text-primary" data-bs-toggle="tooltip"
            data-bs-title="{% translate 'Play with' %} {{ user.username }}"></i>
        <i class="fs-3 bi bi-person-x-fill ms-5 text-primary" data-bs-toggle="tooltip"
        data-bs-title="{% translate 'Block' %} {{ user.username }}"></i>
    </div>
</div>