{% load i18n %}
{% load static %}

{% for user in users %}
<li class="list-group-item">

    <form spa hide action="{% url 'backend:invitation_create' %}" method="POST">
        <div class="form-row d-flex justify-content-between align-items-center">
            <div class="col">
                <img src="{{ user.get_profile_picture }}" class="avatar-sm rounded-circle" alt="">
                <span class="px-2">{{ user.username }}</span>
            </div>
            <div class="col">
                {% csrf_token %}
                <input name="next" type="hidden" value="{% url 'backend:user' request.user.username %}" />
                <input type="hidden" name="username" value="{{ user.username }}" class="form-control"
                    placeholder="{% translate 'username' %}" aria-label="{% translate 'username' %}"
                    aria-describedby="button-addon2">
                <button spa class="btn btn-sm btn-outline-primary w-100" type="submit" id="button-addon2">
                    {% translate 'Invite' %} {{ user.username }}
                </button>
            </div>
        </div>
        
    </form>
</li>
{% endfor %}