{% load i18n %}

<div class="modal fade" id="chatModal" tabindex="-1" aria-labelledby="chatModalLabel" aria-hidden="true">
    <div class="modal-dialog position-fixed end-0 bottom-0 px-4">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{% translate 'Chat with' %} "username"</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body col-12">
                <div class="container">
                    <div class="row">
                        <div class="col table-responsive" style="max-height: 50vh;">
                            <ul chat class="list-unstyled">
                                
                            </ul>
                        </div>
                    </div><div class="row mh-100">
                        <div class="col table-responsive">
                            <div class="input-group mb-3">
                                <input chat type="text" class="form-control" placeholder="{% translate 'message' %}" aria-label="{% translate 'message' %}"
                                    aria-describedby="button-addon2" oninput="handleMessageEnter">
                                <button class="btn btn-primary" type="button" id="button-addon2" onclick="sendMessage();">{% translate 'Send' %}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>