{% load i18n %}
{% load static %}

<div class="modal fade" id="confirmModal" tabindex="-1">
    <div class="modal-dialog px-4">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h1 class="modal-title fs-5" id="confirmModalLabel">{% translate 'Are you sure you want to leave the page?' %}</h1>
            </div>
            <div class="modal-body col-12">
                <div class="mt-4 d-flex justify-content-center">
                    <button class="btn btn-primary w-50 mx-2" id="confirmYes">{% translate "Yes, I'm sure" %}</button>
                    <button class="btn btn-primary w-50 mx-2" id="confirmNo">{% translate "No, I'm afraid" %}</button>
                </div>
            </div>
        </div>
    </div>
</div>
