{% load i18n %}
{% load static %}

<form spa action="{% url 'set_language' %}" method="post" push>{% csrf_token %}
    <input name="next" type="hidden" value="{{ request.path }}" />
    <input name="language" type="hidden" value="en" />
    <input name="spa" type="hidden" value="true" />
    <button spa class="btn" type="submit" value="en"><img src="{% static 'backend/images/en.png' %}"
            class="rounded-circle" style="height:25px;" alt=""></button>
</form>
<form spa action="{% url 'set_language' %}" method="post" push>{% csrf_token %}
    <input name="next" type="hidden" value="{{ request.path }}" />
    <input name="language" type="hidden" value="es" />
    <button spa class="btn" type="submit" value="es"><img src="{% static 'backend/images/es.png' %}"
            class="rounded-circle" style="height:25px;" alt=""></button>
</form>