{% load i18n %}

<div class="card card-height-sm">
        <h4 class="card-header bg-white">
            <div class="p-2">{% translate "Last games" %}</div>
        </h4>
        <div class="card-body table-responsive p-0">
            <table class="table table-borderless table-striped">
                <thead class="">
                    <td class="ps-3">{% translate "Opponent" %}</td>
                    <td>{% translate "Game" %}</td>
                    <td>{% translate "Date" %}</td>
                    <td>{% translate "Result" %}</td>
                </thead>
                <tbody>
                    {% for game in games %}
                    <tr>
                        {% if game.home.username == user.username %}
                        <td class="ps-3"><a href="{% url 'backend:user' game.guest %}" spa data-bs-toggle="tooltip" data-bs-title="{% translate 'View the profile of' %} {{ game.home }}" class="link-dark text-decoration-none text-capitalize">{{ game.guest }}</a></td>
                        <td>{{ game.game }}</td>
                        <td>{{ game.date }}</td>
                        <td>
                            {% if game.winner.id == user.id %}
                            <span class="badge rounded-pill bg-success">{{ game.home_score }} - {{ game.guest_score }}</span>
                            {% else %}
                            <span class="badge rounded-pill bg-danger">{{ game.home_score }} - {{ game.guest_score }}</span>
                            {% endif %}
                        </td>
                        {% else %}
                        <td class="ps-3"><a href="{% url 'backend:user' game.home %}" spa data-bs-toggle="tooltip" data-bs-title="{% translate 'View the profile of' %} {{ game.home }}" class="link-dark text-decoration-none text-capitalize">{{ game.home }}</a></td>
                        <td>{{ game.game }}</td>
                        <td>{{ game.date }}</td>
                        <td>
                            {% if game.winner.id == user.id %}
                            <span class="badge rounded-pill bg-success">{{ game.home_score }} - {{ game.guest_score }}</span>
                            {% else %}
                            <span class="badge rounded-pill bg-danger">{{ game.home_score }} - {{ game.guest_score }}</span>
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</div>