{% load i18n %}
{% load static %}

<div class="modal fade" id="localModal" tabindex="-1" aria-labelledby="localModalLabel" aria-hidden="true">
    <div class="modal-dialog px-4">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{% translate 'Edit profile' %}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body col-12">
                
                  <input type="radio" class="btn-check p-1" name="options" id="option1" autocomplete="off" checked>
<label class="btn btn-secondary p-1" for="option1"><img src="{% static 'backend/images/pirates_revenge.png' %}" class="img-thumbnail"
    alt=""></label>

<input type="radio" class="btn-check p-1" name="options" id="option2" autocomplete="off">
<label class="btn btn-secondary p-1" for="option2"><img src="{% static 'backend/images/hyperpong.png' %}" class="img-thumbnail"
  alt=""></label>

            </div>
        </div>
    </div>
</div>