{% load i18n %}

<header>
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
            <div class="text-center">
                {% if request.user.is_authenticated %}
                <img src="{{ request.user.get_profile_picture }}" class="avatar-sm rounded-circle" alt="">
                <a spa class="link-dark text-decoration-none ms-2 text-white" href="{% url 'backend:user' request.user.username %}">{{ request.user.username }}</a>
                {% endif %}
            </div>
                <div class="d-flex align-items-center">
                        {% if request.user.is_authenticated %}
                    <div class="nav-item pe-3">
                        <a class="link-dark text-white" data-bs-toggle="modal" data-bs-target="#playModal" href="#playModal">{% translate 'Play' %}</button>
                    </div>
                    <div class="nav-item pe-3">
                        <a spa class="link-dark text-white" href="{% url 'backend:tournament_list' %}">
                            {% translate 'Tournaments' %}
                        </a>
                    </div>
                    <div class="nav-item pe-3">
                        <input type="hidden" name="next" value="{{ request.url }}" />
                        <a spa class="link-dark text-white" href="{% url 'backend:logout' %}">{% translate 'Logout' %}</a>
                    </div>
                        {% endif %}
                    {% include "backend/components/language_switch.html" %}
                </div>
        </div>
    </nav>
</header>