{% load i18n %}

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Transcendence</a>
            <div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        {{ request.user.username }}
                    </li>
                    <li class="nav-item">
                        {% if request.user.is_authenticated %}
                        <form action="{% url 'logout' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.url }}" />
                            <button class="btn btn-link" type="submit">{% translate 'Logout' %}</button>
                        </form>
                        {% else %}
                        <form action="{% url 'login' %}" method="GET">
                            <button class="btn btn-link" type="submit">{% translate 'Login' %}</button>
                        </form>
                        {% endif %}
                    </li>
                    {% include "backend/components/language_switch.html" %}
                </ul>
            </div>
        </div>
    </nav>
</header>