{% load i18n %}
{% load static %}

<div class="modal fade" id="playModal" tabindex="-1" aria-labelledby="playModalLabel" aria-hidden="true">
    <div class="modal-dialog px-4">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="playModalLabel">{% translate 'Play' %}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body col-12">
                <div class="d-flex justify-content-evenly mt-3">
                <input type="radio" class="btn-check" name="options-game" id="pong-outlined" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="pong-outlined">Hyperpong</label>

                <input type="radio" class="btn-check" name="options-game" id="pirates-outlined" autocomplete="off">
                <label class="btn btn-outline-primary" for="pirates-outlined">Pirates</label>
                </div>
                <div class="d-flex justify-content-evenly mt-4">
                <input type="radio" class="btn-check" name="options-outlined" id="friend-outlined" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="friend-outlined">{% translate 'Friend' %}</label>

                <input type="radio" class="btn-check" name="options-outlined" id="ia-outlined" autocomplete="off">
                <label class="btn btn-outline-primary" for="ia-outlined">{% translate 'IA' %}</label>
                </div>
                <div class="mt-5 d-flex justify-content-center">
                    <button class="btn btn-dark w-50">{% translate 'Play' %}</button>
                </div>
            </div>
        </div>
    </div>
</div>