{% load i18n %}
{% load static %}

<div class="modal fade" id="playModal" tabindex="-1" aria-labelledby="playModalLabel" aria-hidden="true">
    <div class="modal-dialog px-4">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="playModalLabel">{% translate 'Play' %}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body col-12">
                <form spa hide push action="{% url 'backend:modal_play' %}" method="POST" autocomplete="off">
                {% csrf_token %}
                    <div class="d-flex justify-content-center mt-2">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="game" id="radioPong" value="po" checked>
                            <label class="form-check-label" for="radioPong">
                                Hyperpong
                            </label>
                        </div>
                        <div class="form-check ms-4">
                            <input class="form-check-input" type="radio" name="game" id="radioPirates" value="pr">
                            <label class="form-check-label" for="radioPirates">
                                Pirates
                            </label>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputAlias1" class="col-sm-4 col-form-label">{% translate 'Alias' %}</label>
                        <div class="col-sm-8">
                            <input name="alias_home" type="text" class="form-control" id="inputAliasHome">
                        </div>
                    </div>
                    <div class="row mb-3 d-flex align-items-center">
                        <label for="inputAlias2" class="col-sm-4 col-form-label">{% translate 'Alias' %}</label>
                        <div class="col-sm-8">
                            <input name="alias_guest" type="text" class="form-control" id="inputAliasGuest">
                        </div>
                        <div class="form-check d-flex align-items-center ms-2">
                            <input class="form-check-input" type="checkbox" name="mode" value="cp" id="checkboxIA">
                            <label class="form-check-label ms-1" for="checkboxIA">
                                {% translate 'IA' %}
                            </label>
                        </div>
                    </div>
                    <div class="mt-4 d-flex justify-content-center">
                        <button class="btn btn-dark w-50" type="submit">{% translate 'Play' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>