{% load i18n %}
{% load static %}

<div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
    <div class="modal-dialog px-4">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{% translate 'Edit profile' %}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body col-12">
              <form spa hide push enctype="multipart/form-data" method="POST" action="{% url 'backend:edit_profile' %}">
                {% csrf_token %}
                <div class="mb-3">
                  <p>{% translate 'Preferred language' %}</p>
                  <div class="d-flex">
                    <div class="form-check ms-1">
                      <input class="form-check-input" type="radio" name="preferred_language" id="languageEs" value="es" {% if user.preferred_language == "es" %} checked {% endif %}>
                      <label class="form-check-label" for="languageEs">
                        {% translate 'Spanish' %}
                      </label>
                    </div>
                    <div class="form-check ms-5">
                      <input class="form-check-input" type="radio" name="preferred_language" id="languageEn" value="en" {% if user.preferred_language == "en" %} checked {% endif %}>
                      <label class="form-check-label" for="languageEn">
                        {% translate 'English' %}
                      </label>
                    </div>
                    <div class="form-check ms-5">
                      <input class="form-check-input" type="radio" name="preferred_language" id="languageDa-dk" value="da-dk" {% if user.preferred_language == "da-dk" %} checked {% endif %}>
                      <label class="form-check-label" for="languageDa-dk">
                        {% translate 'Danish' %}
                      </label>
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">{% translate 'Bio' %}</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="bio">{{ user.bio |default_if_none:"" }}</textarea>
                </div>
                <div class="mb-3">
                  <label for="inputGroupFile02" class="form-label">{% translate 'Profile picture' %}</label>
                  <input type="file" class="form-control" id="inputGroupFile02" name="picture">
                  </div>
                <div class="d-flex justify-content-center mt-4 mb-2">
                  <input name="next" type="hidden" value="{% url 'backend:user' request.user.username %}" />
                  <button type="submit" class="btn btn-primary w-50">{% translate 'Update' %}</button>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>