{% load i18n %}
{% load static %}

<div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
    <div class="modal-dialog px-4">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{% translate 'Edit profile' %}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body col-12">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">{% translate 'Preferred language' %}</label>
                    <select class="form-select form-select-lg mb-3">
                        <option value="en">{% translate 'English' %}</option>
                        <option value="es">{% translate 'Spanish' %}</option>
                      </select>
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">{% translate 'Bio' %}</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="inputGroupFile02" class="form-label">{% translate 'Profile picture' %}</label>
                    <input type="file" class="form-control" id="inputGroupFile02">
                  </div>
                  <div class="mb-3">
                    <button type="submit" class="btn btn-primary mb-3">{% translate 'Update' %}</button>
                  </div>
            </div>
        </div>
    </div>
</div>