{% load i18n %}
{% load static %}

<div class="card" id="user_info">
    <div class="card-body pb-0">
        <div class="row align-items-center">
            <div class="col-md-3 p-4">
                <div class="text-center" style="min-height: 180px;">
                    {% if user.picture %}
                    <img src="{{ user.picture.url }}" class="img-fluid avatar-xxl rounded-circle"
                        alt="">
                    {% else %}
                    <img src="{% static 'backend/images/profile.png' %}" class="img-fluid avatar-xxl rounded-circle"
                        alt="">
                    {% endif %}
                </div>
            </div><!-- end col -->
            <div class="col-7">
                <div class="row">
                    <h3>{{ user.username }}</h3>
                    <p>{{ user.bio }}</p>
                    <div class="d-flex">
                        <p>HYPERPONG</p>
                        <div class="d-flex justify-content-center">
                            <p class="ms-2 fw-bold">5</p><i class="bi bi-trophy-fill ms-2" style="color:green"></i>
                            <p class="ms-2 fw-bold">5</p><i class="bi bi-hand-thumbs-down-fill ms-2" style="color:red"></i>
                            <p class="ms-2 fw-bold">{{ user.pong_elo }}</p><i class="bi bi-award-fill ms-2" style="color:#007bff"></i>
                        </div>
                        <p class="ms-5">PIRATES REVENGE</p>
                        <div class="d-flex justify-content-center">
                            <p class="ms-2 fw-bold">5</p><i class="bi bi-trophy-fill ms-2" style="color:green"></i>
                            <p class="ms-2 fw-bold">5</p><i class="bi bi-hand-thumbs-down-fill ms-2" style="color:red"></i>
                            <p class="ms-2 fw-bold">{{ user.pirates_elo }}</p><i class="bi bi-award-fill ms-2" style="color:#007bff"></i>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="btn-toolbar" role="toolbar">
                        {% if request.user.username == user.username %}
                        <button class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#profileModal">{% translate 'Edit profile' %}</button>
                            {% if request.user.is_authenticated %}
                            <form spa push action="{% url 'backend:logout' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.url }}" />
                                <button class="btn btn-outline-primary mx-1" type="submit">{% translate 'Logout' %}</button>
                            </form>
                            {% endif %}
                        {% else %}
                        <button class="btn btn-primary mx-1">{% translate 'Invite' %}</button>
                        <button class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#localModal">{% translate 'Play' %}</button>
                        <button class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#chatModal">{% translate 'Chat' %}</button>
                        <button class="btn btn-primary mx-1">{% translate 'Block' %}</button>
                        <button class="btn btn-primary mx-1">{% translate 'Unblock' %}</button>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div><!-- end row -->
    </div><!-- end card body -->
</div>