{% load i18n %}
{% load static %}

<div class="card" id="user_info">
    <div class="card-body pb-0">
        <div class="row align-items-center">
            <div class="col-md-3 p-4">
                <div class="text-center" style="min-height: 180px;">
                    {% if user.picture %}
                    <img src="{{ user.picture.url }}" class="img-fluid avatar-xxl rounded-circle"
                        alt="">
                    {% else %}
                    <img src="{% static 'backend/images/profile.png' %}" class="img-fluid avatar-xxl rounded-circle"
                        alt="">
                    {% endif %}
                </div>
            </div><!-- end col -->
            <div class="col-7">
                <div class="row">
                    <div class="d-flex">
                        <h3>{{ user.username }}</h3>
                        {% if not request.user.username == user.username %}
                        {% if online_status %}
                        <i class="fs-6 bi bi-circle-fill ms-2" style="color:green"></i>
                        {% else %}
                        <i class="fs-6 bi bi-circle-fill ms-2" style="color:red"></i>
                        {% endif %}
                        {% endif %}
                    </div>
                    <p>{{ user.bio }}</p>
                    <div class="d-flex">
                        <p>HYPERPONG</p>
                        <div class="d-flex justify-content-center">
                            <p class="ms-2 fw-bold">5</p><i class="bi bi-trophy-fill ms-2" style="color:green"></i>
                            <p class="ms-2 fw-bold">5</p><i class="bi bi-hand-thumbs-down-fill ms-2" style="color:red"></i>
                            <p class="ms-2 fw-bold">{{ user.pong_elo }}</p><i class="bi bi-award-fill ms-2" style="color:#007bff"></i>
                        </div>
                        <p class="ms-5">PIRATES REVENGE</p>
                        <div class="d-flex justify-content-center">
                            <p class="ms-2 fw-bold">5</p><i class="bi bi-trophy-fill ms-2" style="color:green"></i>
                            <p class="ms-2 fw-bold">5</p><i class="bi bi-hand-thumbs-down-fill ms-2" style="color:red"></i>
                            <p class="ms-2 fw-bold">{{ user.pirates_elo }}</p><i class="bi bi-award-fill ms-2" style="color:#007bff"></i>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="btn-toolbar" role="toolbar">
                        {% if request.user.username == user.username %}
                        <button class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#profileModal">{% translate 'Edit profile' %}</button>
                        {% else %}
                        {% if can_invite %}
                        <form spa action="{% url 'backend:invitation_create' %}" method="POST">
                                    {% csrf_token %}
                                    <input name="next" type="hidden" value="{{ request.path }}" />
                                    <input type="hidden" name="username" value="{{ user.username }}" class="form-control"
                                        placeholder="{% translate 'username' %}" aria-label="{% translate 'username' %}"
                                        aria-describedby="button-addon2">
                                    <button class="btn btn-primary mx-1" type="submit">{% translate 'Invite' %}</button>
                        </form>
                        {% endif %}
                        {% if received_invitation %}
                        <form spa action="{% url 'backend:invitation_dismiss' %}" method="POST">
                                {% csrf_token %}
                                <input name="next" type="hidden" value="{{ request.path }}" />
                                <input name="username" type="hidden" value="{{ user.username }}" />
                                <button class="btn btn-primary mx-1" type="submit">{% translate 'Dismiss invitation' %}</button>
                            </form>
                        {% endif %}
                        {% if sent_invitation %}
                        <form spa action="{% url 'backend:invitation_cancel' %}" method="POST">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ request.path }}" />
                            <input name="username" type="hidden" value="{{ user.username }}" />
                            <button class="btn btn-primary mx-1" type="submit">{% translate 'Cancel invitation' %}</button>
                        </form>
                        {% endif %}
                        <button class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#chatModal">{% translate 'Chat' %}</button>
                        <form spa action="{% url 'backend:block_user' %}" method="POST">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ request.path }}" />
                            <input name="username" type="hidden" value="{{ user.username }}" />
                        {% if is_blocked %}
                            <button type="submit" class="btn btn-primary mx-1">{% translate 'Unblock' %}</button>
                        {% else %}
                            <button type="submit" class="btn btn-primary mx-1">{% translate 'Block' %}</button>
                        {% endif %}
                        </form>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div><!-- end row -->
    </div><!-- end card body -->
</div>